body{
    background-color: rgb(196, 229, 241);
}
.heading{
    padding-left: 40%;
}

h2{
    color: black;
    padding-left: 35%;

}

.intro
{
    padding-left: 0%;
    margin: 20px;
}

.def
{
    margin: 30px;
}

.sports
{
    margin: 30px;
}

iframe{
    margin: 40px;
}


.footer
{
    padding-left: 40%;
}